* {
    --color-secondary: rgb(4, 108, 139);
    --color-primary: rgb(228, 230, 231);
    --text-secondary: white;
    --text-primary: black;
    margin: 0 auto;
}

body,
html {
    width: 100%;
    margin: 0 auto;
}

body {
    background-color: var(--color-primary);
}

.site-title {
    background-color: var(--color-secondary);
    color: var(--text-secondary);
    font-size: large;
    width: 100%;
}

body div {
    padding: 10px;
}

.sidebar {
    flex: 200px;
}

.wrapper {
    /* display: flex; */
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.content {
    width: 100%;
}

.sidebar>* {
    width: 100%;
    border-radius: 5px;
}